In [6]:
import pandas as pd

# Specify the path to the CSV file
csv_file_path = 'sheets/Task1 - Sheet1.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Now you can work with the DataFrame
# For example, you can print the first few rows
print(df.head())

   Student Name  Roll Number  Maths  Science  Total
0    Anuj Kumar            1     10       20     30
1   Ayush Kumar            2     20       30     50
2    Harsh Bang            3     30       40     70
3   Aryan Kumar            4     40       50     90
4  Kartik Gupta            5     50       60    110

In [7]:
df.loc[0]

Student Name    Anuj Kumar
Roll Number              1
Maths                   10
Science                 20
Total                   30
Name: 0, dtype: object

In [8]:
df.loc[[0,1]]

  Student Name  Roll Number  Maths  Science  Total
0   Anuj Kumar            1     10       20     30
1  Ayush Kumar            2     20       30     50

In [9]:
df

      Student Name  Roll Number  Maths  Science  Total
0       Anuj Kumar            1     10       20     30
1      Ayush Kumar            2     20       30     50
2       Harsh Bang            3     30       40     70
3      Aryan Kumar            4     40       50     90
4     Kartik Gupta            5     50       60    110
5     Priya Sharma            6     10       70     80
6      Monu Mishra            7     20       80    100
7  Akshay Upadhyay            8     30       40     70

In [10]:
df.to_string()

'      Student Name  Roll Number  Maths  Science  Total\n0       Anuj Kumar            1     10       20     30\n1      Ayush Kumar            2     20       30     50\n2       Harsh Bang            3     30       40     70\n3      Aryan Kumar            4     40       50     90\n4     Kartik Gupta            5     50       60    110\n5     Priya Sharma            6     10       70     80\n6      Monu Mishra            7     20       80    100\n7  Akshay Upadhyay            8     30       40     70'

In [11]:
print(df.to_string())

      Student Name  Roll Number  Maths  Science  Total
0       Anuj Kumar            1     10       20     30
1      Ayush Kumar            2     20       30     50
2       Harsh Bang            3     30       40     70
3      Aryan Kumar            4     40       50     90
4     Kartik Gupta            5     50       60    110
5     Priya Sharma            6     10       70     80
6      Monu Mishra            7     20       80    100
7  Akshay Upadhyay            8     30       40     70

In [12]:
print(df.tail())

      Student Name  Roll Number  Maths  Science  Total
3      Aryan Kumar            4     40       50     90
4     Kartik Gupta            5     50       60    110
5     Priya Sharma            6     10       70     80
6      Monu Mishra            7     20       80    100
7  Akshay Upadhyay            8     30       40     70

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student Name  8 non-null      object
 1   Roll Number   8 non-null      int64
 2   Maths         8 non-null      int64
 3   Science       8 non-null      int64
 4   Total         8 non-null      int64
dtypes: int64(4), object(1)
memory usage: 448.0+ bytes
None